/* Grün:
Hell: #139B6D
mittel: #10865F
dunkel: #0F7B57

Orange:
hell: #FF9017 
mittel: #EB8515
dunkel: #aa5f0f

Grau:
hell: #e6e9e9
mittel: #343a40
dunkel:#212529 */


/* GENERAL */
.boxshadow {
    -webkit-box-shadow: 5px 5px 17px 0px #AEAEAE;
    box-shadow: 5px 5px 17px 0px #AEAEAE;
}


body {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.349);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(1, 8, 6);
    /* color of the scroll thumb */
    /* border: 3px solid orange;  creates padding around scroll thumb */
}

.card {
    border: none;
}


@media only screen and (max-width: 1000px) {
    /* Makes Display-4 Texts smaller on index when screen < 1000*/

    .card-img-overlay .display-4, .d-flex .display-4 {
        font-size: 2rem;
    }
}


/* NAVBAR */
.brandBar {
    background: radial-gradient(circle at top left, transparent 25%, #0F7B57 25.5%, #0F7B57 36%, transparent 37%, transparent 100%), radial-gradient(circle at bottom right, transparent 34%, #0F7B57 34.5%, #0F7B57 45.5%, transparent 46%, transparent 100%);
    background-size: 5em 5em;
    background-color: #10865F !important;
    opacity: 1;
    display: flex;
    justify-content: center;
    height: 5rem;
    font-size: x-large;
}

.navbar {
    background-color: #343a40;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    color: white !important;
}



.navbar-collapse {
    flex-grow: 0;
}

.navbar-toggler {
    border: 1px solid #e6e9e9;
    color: white;
}

.navbar-toggler-icon {
    background-image: url(../images/icons/more.png) !important; 
}

.nav-item {
    border-right: 1px solid rgba(255, 255, 255, 0.425);
}

.nav-item a {
    color: white;
}

.nav-link>img {
    height: 1.5rem;
    margin-right: 0.5em;

}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-item:hover {
    background-color: #212529;
}

.nav-item:last-child {
    border-right: transparent;
}

#navbarSupportedContent .btn:hover {
    background-color: #FF9017;
    color: white;
    border: 1px solid #FF9017;
}

.transparent-navbar {
    /* clas sis applied when navbar is scrolled */
    opacity: 0.9;
}

/* BREAD CRUMB */

.breadcrumb-item a {
    color: #0F7B57;
}



/* HEADER */
.headerH {
    /* absolute entfernt das Element aus dem Flow des Dokuments, alle anderen Elemente werden angezeigt als würde das Element gar nciht existieren. Es schwebt also wie ein Geist vor dem Header Image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerH>img {
    height: 2rem;
}

.headerImage {
    /* relative nimmt das Element aus dem normalen Flow der Documents heraus und sorgt afür, dass wir es seperat modifizieren können ohne andere Elemente zu beeinflussen */
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    /*container-width*/
    overflow: hidden;
    /*hide bounds of image */
    margin: 0;
    /*reset margin of figure tag*/
}

.hidden {
    display: none;
}

.header-icon {
    width: 1em;
    height: 1em;
    font-size: inherit;
}

.bigimage {
    display: block;
    /*remove inline-block spaces*/
    width: 100%;
    /*make image stretch*/
    margin: -10% 0;
    opacity: 0.6;
}

.bigImageUnderlay {
    background-color: rgb(3, 37, 26);

}





/* INDEX.html */

/* Slidehow */

.polygon {
    clip-path: polygon(0% 98%, 6% 94%, 17% 97%, 29% 93%, 33% 96%, 43% 94%, 52% 97%, 62% 94%, 71% 98%, 77% 93%, 84% 97%, 90% 94%, 97% 96%, 100% 93%, 100% 100%, 100% 0%, 0% 0%);
}


.carouselImg {
    opacity: 0.5;
}

.carouselUnderlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(3, 37, 26);
}

.carouselH {
    background-color: #0F7B57;
    width: 100%;
}

/*Current Information */

.current-information {
    color: white;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
}

.current-information>div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.current-information img {
    height: 1.5em;
}

.opening-hours {
    background-color: #139B6D;
}

.next-feeding {
    background-color: #10865F;
}

.visit-us {
    background-color: #0F7B57;
}

/* Quick Access Boxes */
.card-img-overlay {
    /* Card mit ganzem Bild */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a .card-img-overlay {
    text-decoration: none;
    color: white;
}

.overlay2 {
    /* Hover Overlay Effekt */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.6s ease-in;
    background-color: #0F7B57;
}

.overlayContainer2 {
    position: relative;
}

.overlayContainer2:hover .overlay2 {
    opacity: 1;
}

.overlay2Ttext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Call to action*/
.call-to-action {
    background: linear-gradient(135deg, #FF9017 0%, #FF9017 5%, transparent 5%, transparent 10%, #FF9017 10%, #FF9017 15%, transparent 15%, transparent 20%, #FF9017 20%, #FF9017 25%, transparent 25%, transparent 30%, #FF9017 30%, #FF9017 35%, transparent 35%, transparent 40%, #FF9017 40%, #FF9017 45%, transparent 45%, transparent 50%, #FF9017 50%, #FF9017 55%, transparent 55%, transparent 60%, #FF9017 60%, #FF9017 65%, transparent 65%, transparent 70%, #FF9017 70%, #FF9017 75%, transparent 70%, transparent 80%, #FF9017 80%, #FF9017 85%, transparent 85%, transparent 90%, #FF9017 90%, #FF9017 95%, transparent 95%);
    background-size: 6em 6em;
    background-color: #EB8515;

    padding: 1rem;
    border-radius: 3px;
    margin-top: 3rem;
    margin-bottom: 1rem;


    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.call-to-action p {
    color: white;
    font-size: 2rem;
}

/* ANIMALS.html */

.progress {
    border-radius: 0;
}

.progressRow {
    border-bottom: 1px solid gray;
    margin: 0;
}

.progress-bar {
    padding-left: 0;
    margin: 0;
}

.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
}

@keyframes animateBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.geneticStat {
    color: rgba(255, 255, 255, 0.7);
}

.statusGreen {
    background-color: #28a745;
}

.statusOrange {
    background-color: #ffc107;
}

.statusRed {
    background-color: #dc3545;
}

.animal-card-body {
    background: radial-gradient(circle at top left, transparent 25%, #0F7B57 25.5%, #0F7B57 36%, transparent 37%, transparent 100%), radial-gradient(circle at bottom right, transparent 34%, #0F7B57 34.5%, #0F7B57 45.5%, transparent 46%, transparent 100%);
    background-size: 5em 5em;
    background-color: #10865F !important;
    opacity: 1;
}

/* Image */

.imgContainer {
    position: relative;
}

.card-img-top {
    display: block;
}

.adoptedOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    transition: .3s ease;
    background-color: #139B6D;
}

.overlayText {
    color: white;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0%;
}

.appear {
    opacity: 100%;
}

.diappearButton {
    display: none;
}

.conservation-pill {
    position: absolute;
    top: 5%;
    right: 5%;
}


/* BUTTONS */
.btn-primary {
    color: white;
    background-color: #FF9017;
    border: 2px solid #aa5f0f;
    /* Transition for all animaltions */
    transition: 0.25s;
    /* Shadow */
    -webkit-box-shadow: 0px 7px 0px 0px #aa5f0f;
    box-shadow: 0px 7px 0px 0px #aa5f0f;
}

.btn-primary:hover {
    /* Background Image */
    background: linear-gradient(45deg, #FF9017 20%, transparent 20%), linear-gradient(135deg, transparent 80%, #FF9017 80%), radial-gradient(#FF9017 20%, transparent 21%);
    background-size: 2em 2em;
    background-color: #EB8515;
    opacity: 1;

    /* Border */
    border: 2px solid #aa5f0f;
}

.btn-primary:disabled {
    background: #888888;

    color: #e6e9e9;
    opacity: 1;

    /* Border */
    border: 2px solid #888888;

    /* Shadow */
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-primary:focus {
    /* Background Image */
    background: linear-gradient(45deg, #FF9017 20%, transparent 20%), linear-gradient(135deg, transparent 80%, #FF9017 80%), radial-gradient(#FF9017 20%, transparent 21%);
    background-size: 2em 2em;
    background-color: #EB8515;
    opacity: 1;

    /* Border */
    border: 2px solid #aa5f0f;

    /* Shadow */
    -webkit-box-shadow: 0px 7px 0px 0px #aa5f0f;
    box-shadow: 0px 7px 0px 0px #aa5f0f;

}

.btn-primary:active {
    background-color: #EB8515 !important;

    /* Shadow */
    box-shadow: none;
    -webkit-box-shadow: none;

    /* Move */
    transform: translate(0, 5px);
}


/* FOOTER */

.footer {
    background-color: #343a40;
    padding: 2rem;
    text-align: center;
}

.footer-social a {
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
}

.footer-links {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.footer-links a {
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
}

.footerImg {
    width: 50px;
    height: 50px;
}

footer a:hover {
    color: #EB8515;
}

.footer-sigils {
    display: flex;
    justify-content: center;
    background-color: #0F7B57;
    padding: 1rem
}