

html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    /*Der Body ist 70% weit aber maximal 800px, wenn man den Screen größer zieht 

    width: 70%;
    max-width: 800px;

    /* This font size is the reference point for all rems */
    font-size: 17px;
    
    line-height: 1.5;
    margin: auto;
    
    font-family: 'Lato', sans-serif;

}

.pseudoBody
{
    padding: 1em 2em 4em;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */


.brandBox{
    font-family: 'Neucha', cursive;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 2.1rem;
    
    background: #0F7B57;
    color: white;
    margin: 0 ;
    /* renm bezieht sich auf das root Element, also im html oder body, nicht das parent wie bei em */
    padding: 2rem ;
    
}

.brandBox a
    {
        color: white;
        text-decoration: none;
    }


.navBox{
    overflow: hidden;
    background-color: #f1f1f1;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    }

.navBox a {
    float: left;
    margin-right:1%;
    padding: 1%;
    width: 27%;
    height: 3em;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    color: #545454;
    
    text-align: center;
    text-decoration: none;
    font-size: 1 rem;
    border-radius: 4px;
    vertical-align: middle;    
    }

.header a.home {
    border-right: #ddd solid 2px;
    width: 5%;
    border-radius: 0px;
    }


.header a:hover {
  background-color: #ddd;
  color: #FF9017;
    }



/*TEXT* *TEXT* *TEXT* *TEXT* *TEXT*/
h1 {
    font-family: 'Neucha', cursive;
    letter-spacing: 2px;
    font-weight: 750;
    padding: 0.3em 1em 0.3em ;
    background: #139b6d;
    color: white;
    font-size: 2rem;
    margin-bottom: -4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;


    }

h2 {
    font-family: 'Neucha', cursive;
    font-weight: 750;
    margin: 0.5em 0;
    font-size: 1.5 rem;
   

    }

 h3, h4, h5, h6 {
    color: #888888;
    font-weight: 600;
    line-height: 1.3;
    font-size: 2em;
}

p{
    font-size: 1 rem;
}

ul
{
       font-size: 1.7em;
 
}
.absatz
{
    border-left: solid 3px #cecccc;
    padding: 0  0 0 1em;
    margin-bottom: 3rem;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}



.primaryButton {
    background: url(/images/1c47a3e45072a24a8eae0f0ecd78c11a.jpg);
    background-repeat: cover;
    background-size:auto;
    
    border: 2px solid #10865F;
    border-radius: 50px;
    
    color:white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Neucha', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 750;
    width:100%

}

.primaryButton:hover
    { 
        color: #FF9017;
    }
.secondaryButton {
    background-color:#cecccc;
    background-repeat: cover;
    background-size:auto;
    
    border: 2px solid #cecccc;
    border-radius: 8px;
    
    color:white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Neucha', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 750;
    width:100%

}
        
#indexLetter {
    text-transform: uppercase;
    font-family: 'Neucha', cursive;
    font-weight: 750;
    padding: 0.em 1em 0.3em ;
    color: white;
    background-color: #10865F;
    text-align: center;
}

#animalName {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Neucha', cursive;
    font-weight: 750;
    padding: 0.em 1em 0.3em ;
    color: white;
    background-color: rgba(16,134,95,0.5);
    text-align: center;
    /* bei rgba ist die letzte Ziffer die Transparenz, von 0 -1 */
}    
        


/* SIMPLE BOX SIMPLE BOX SIMPLE BOX SIMPLE BOX SIMPLE BOX */


.simpleBox
{
    background: #f1f1f1;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    padding: 1em 2em 2em 2em; 
    margin-bottom: 2em;
}

/* SMALL BOX SMALL BOX SMALL BOX SMALL BOX SMALL BOX */

.smallBox
{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    font-size: 1em;
    line-height: 1.5;
    margin: 1em 0 1em 0;
    padding: 1em;
    background: #f1f1f1;
    text-align: center; 
    font-weight: 300;
}

/* .simpleBox p:first-letter {
    font-size: 20px;
    }'/

/* RESULT BOX RESULT BOX RESULT BOX RESULT BOX */

.resultBox
{
    background: #139B6D;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #ffff;
    line-height: 1.5;
    margin: 1em 0 1em 0;
    padding: 2em 2em 2em;
    border-radius: 8px;
    text-align: center
}


.statResult
{
    float: left;
    width:25%;
    margin: auto;
    padding-bottom: 1em;
}

.clear
{
    clear: both;
}


#idScore
{
    
}

#randomVerdict
{
        font-weight: bold;

}

#warning
{
    font-weight: bold;
    background-color: indianred;
    width: 50%;
    margin: auto;
    border-radius: 50px; 
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

